---
layout: default
---

<section class="section" style="font-size: larger; line-height: 30px;">
    <div class="container">
        <div class="columns">
            <div class="column"></div>

            <div class="column is-two-thirds">
                <h1 class="title is-3">{{ page.title }}</h1>
                {% if page.main_image_src %}
                <div class="box">
                    <figure class="image is-text-centered">
                    <img src="{{ page.main_image_src }}">
                    <figcaption><small>{{ page.main_image_caption }}</small></figcaption>
                    </figure>
                </div>
                {% endif %}

                {{ content }}
            </div>
            
            <div class="column"></div>
        </div>
    </div>
</section>






